
#container{
    display: flex;
    width: 90%;
    /* border: 3px solid red; */
    margin: auto;
}
#list{
    /* border: 3px solid blue; */
    width: 17%;
    padding-top: 10px;
    background-color: white;
    margin-right: 20px;
    
}
#list div{
    /* border: 3px solid green; */
    width: 98%;
    padding-bottom: 30px;
    margin-bottom: 10px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    background-color: white;
    
}
#list>div:hover{
    cursor: pointer;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  }

  #list2{
    /* border: 3px solid blue; */
    width: 83%;
  }
  /* product css */
#cont{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  row-gap: 15px;
  column-gap: 15px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
.child{
  /* border: 3px solid blueviolet; */
  padding-left: 15px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding-bottom: 10px;
}
.child h3{
  font-family: sans-serif;
}
 
.off{
  color: green;
  margin-left:10px;
}

.price{
  text-decoration: line-through;
  margin-left:5px;
}

.child:hover {
  /* cursor: pointer; */
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.addToCart{
  background-color: #ff6f61;
  border: 0px;
    border-radius: 4px;
    color: white;
    width: 80px;
    height: 25px;
}
.addToCart:hover{
  cursor: pointer;
}